[submodule "Kubernetes"]
	path = Kubernetes
	url = https://github.com/CleverTechMemes/Kubernetes.git
[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "ML"]
	path = ML
	url = ./ML
