[submodule "Kubernetes"]
	path = Kubernetes
	url = https://github.com/CleverTechMemes/Kubernetes.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CleverTechMemes/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/CleverTechMemes/backend.git
[submodule "ML"]
	path = ML
	url = https://github.com/CleverTechMemes/ML.git
